<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Please log in</h2>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br/>
    <button type="submit">Log in</button>
</form>
<a href="/oauth2/authorization/github">Login with GitHub</a>
<a href="/oauth2/authorization/google">Login with Google</a>
</body>
</html>
